<%= render "shared/header"%>

<div class="main-index">
  <div class="main-task">
    <div class="card-75">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">詳細</a>
        <a href="#" class="btn btn-primary">編集</a>
        <a href="#" class="btn btn-primary">削除</a>
      </div>
    </div>

    <div class="card-75">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">詳細</a>
        <a href="#" class="btn btn-primary">編集</a>
        <a href="#" class="btn btn-primary">削除</a>
      </div>
    </div>

    <div class="card-75">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">詳細</a>
        <a href="#" class="btn btn-primary">編集</a>
        <a href="#" class="btn btn-primary">削除</a>
      </div>
    </div>

  </div>
  <div class="search_bar">
  <%= render "shared/side_bar"%>
  </div>
</div>
