* {
  box-sizing: border-box;
}

.top-page-header{
  width: 100%;
  height: 100px;
  background-image:linear-gradient(-45deg, #3D4581 25%, #738BC3 25%, #738BC3 50%, #3D4581  50%, #3D4581 75%, #738BC3 75%, #738BC3);
  position: fixed;
}

.main-header{
  width: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.app-title{
  padding-left: 5px;
  text-decoration: none;
  position: relative;
  font-size: 1.5em;
  padding-bottom: 0.35em;
  border-bottom: 4px solid #ccc;
  color: #fafafa;
}

.app-title::before,
.app-title::after {
  content: '';
  position: absolute;
  bottom: -4px;
  height: 4px;
}

.app-title::before {
  left: 0;
  width: 50px;
  background-color: #2980b9;
}

.app-title::after {
  left: 50px;
  width: 2px;
  background-color: #fff;
}

.new-task{
  margin-left: 230px;
  text-decoration: none;
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #00b5ad;
  text-decoration: none;
  user-select: none;
  border: 1px #00b5ad solid;
  border-radius: 3px;
  transition: 0.4s ease;
  background-color: #fafafabe;
}

.new-task:hover {
  color: #fff;
  background: #00b5ad;
}

.lists-right {
  margin-left: 530px;
  list-style: none;
}

.login{
  text-decoration: none;
  color: #fafafa;
}

.sign-up{
  text-decoration: none;
  color: #fafafa;
}

.user-nickname{
  text-decoration: none;
  color: #fafafa;
}

.logout{
  text-decoration: none;
  color: #fafafa;
}

.user-name{
  color: #fafafa;
}