<%# CSS・・・assets/stylesheets/shared/side_bar.css %>
<div class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    <button class="search-btn" type="submit">Search</button>
  </form>
</div>