.devise-index{
  padding-top: 100px;
  padding-right: 150px;
  height: 100vh;
  background-color: #fff;
  background-image: url("Woodland-Camo.png");
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*新規ユーザー登録用*/
.account-page .account-page__inner {
  position: relative;
  margin: 2em auto;
  padding: 1.2em;
  color: #555555; /* 文章色 */
  background-color: #fff; /* 背景色 */
  border: 1px solid #555555; /* 枠線の太さ・色 */
  width: 150%;
  height: 600px;
}

/*ユーザーログイン用*/
.account-page .account-page__inner-a {
  position: relative;
  margin: 2em auto;
  padding: 1.2em;
  color: #555555; /* 文章色 */
  background-color: #fff; /* 背景色 */
  border: 1px solid #555555; /* 枠線の太さ・色 */
  width: 150%;
  height: 400px;
}

.account-page .account-page__inner .account-page__inner--left, .account-page .account-page__inner .account-page__inner--right {
  float: inline-start;
}
.account-page .account-page__inner:after {
  clear: both;
  content: "";
  display: block;
}
.account-page .account-page__header h2 {
  position: absolute;
  padding: 0 .5em;
  left: 20px;
  top: -15px;
  font-weight: bold;
  background-color: #fff; /* タイトル背景色 */
  color: #555555; /* タイトル文字色 */
}

.account-page .account-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .account-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
}
.account-page .field {
  margin-bottom: 10px;
}
.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.account-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0;
}
.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

.d-btn-list{
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}

.test-button {
  display: inline-block;
  padding: 0.7em 1.8em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #00b5ad;
  border: 1px #00b5ad solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  height: 50px;
  margin-top: 19px;
  margin-left: 10px;
  width: 200px;
}