* {
  box-sizing: border-box;
}

.main-index{
  padding-top: 100px;
  height: 100vh;
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.main-task{
  width: 1024px;
  margin: 0 auto;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card{
  width: calc((100% - 50px)/3);
  margin: 120px auto;
}

.card_priority {
  width: calc((100% - 50px) / 3);
  margin-top: 10px;
  background-color: rgba(255, 0, 0, 0.747);
}

.card_high{
  width: calc((100% - 50px) / 3);
  margin-top: 10px;
  background-color: rgba(255, 255, 0, 0.74);
}

.card_middle{
  width: calc((100% - 50px) / 3);
  margin-top: 10px;
  background-color: rgba(0, 128, 0, 0.74);
}

.card_low{
  width: calc((100% - 50px) / 3);
  margin-top: 10px;
  background-color: rgba(128, 128, 128, 0.733);
}

.card__body{
  padding-left: 10px;
}

.card__summary {
  font-size: 18px;
}

.card_btn{
  display: flex;
  justify-content: space-around;
}

.input-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

.title-area{
  padding-top: 10px;
}

.desc-area{
  padding-top: 10px;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#c:checked ~ #calendars, 
#t:checked ~ #tasks {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.input-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 700px;
}

.input-wrap select {
  width: 75px;
  margin: 5px 5px 0 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

input[type="search"] {
  padding: 3px;
  width: 250px;
}