* {
  box-sizing: border-box;
}

.main-index{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
}

.search_bar{
  width: 300px;
  background-color: #dddddd;
}

.main-task{
  width: calc(100vw - 300px);
  background-color: #eee;
  padding-left: 30px;
}

.card-75{
  width: 95%;
  height: 20%;
  margin-top: 10px;
  border: gray 1px solid;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 10px;
}